/* Tailwind base - add Tailwind directives here when you install tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any project-global styles below */
html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
}
